.container {
  width: 1280px;
  margin: auto;
  font-family: sans-serif;
}
.header {
  width: 292px;
  font-size: 70px;
  margin: 61px 1087px 45px 0px;
}

.header > a{
  text-decoration: none;
}
.header-ra {
  color: black;
}
.header-mda {
  color: #4bcaff;
}

.top-menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
  font-size: 20px;
}
.top-menu__item{
  text-decoration: none;
  color: white;
  padding: 26px 42px 21px 42px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.top-menu__item:hover{
  background-color: #222f3a;
  border: 1px solid #ffffff55;
}

.left-sidebar{
  width: 344px;
  margin-top: 51px;
  border: 1px solid black;
  align-self: flex-start;
}

.left-sidebar__subPart{
  display: block;
  padding: 27px 0 27px 44px;
  text-decoration: none;
  font-size: 26px;
  color: rgb(70, 87, 99);
  transition: all 0.4s ease-out;
}

.left-sidebar__subPart:hover{
  padding-left:69px;
  background-color: rgb(220, 220, 220);
  color: black;
  font-weight: 600;
}

.main-content{
  display: flex;
  width: 1280px;
  height: 883px;
}
.sub-content{
  width: 885px;
  margin-top: 51px;
  margin-left: 53px;
}
.top-img{
  width: 882px;
  height: 529px;
  border: 1px solid black;
}
.ramda-logo{
  width: 320px;
  height: 381px;
  object-fit: cover;
  align-items: center;
  margin: 75px 268px 73px 297px;
  transition: all 0.4s ease-out;
}
.ramda-logo:hover{
  transform: scale(1.1);
}

.content{
  margin: 50px 40px 21px 30px;
}
.paragraph{
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.footer {
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  font-size: 22px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.footer__item{
  display: flex;
  width: 809px;
  font-size: 26px;
  margin: 22px 0px 21px 44px;
  justify-content: space-between;
}
.footer > p{
  color: #0c1927;
  text-align: right;
  margin: 22px 34px 21px 218px;
}
.footer__item--h_blue{
  text-decoration:none;
  color: black;
  transition: all 0.4s ease-out;
}
.footer__item--h_blue:hover{
  color:#3181a6;
  text-decoration:underline 1.2px;
  text-underline-offset: 6px;
}

