body{
  font-family: sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.header {
  padding-top: 61px;
}

.header__title{
  font-size: 70px;
  text-decoration: none;
}
.header-ra {
  color: black;
}
.header-mda {
  color: #4bcaff;
}

.header__menu{
  display: flex;
  justify-content: center;
  margin-top: 45px;
  background-color: #35444f;
  font-size: 20px;
}
.header__menu--item{
  text-decoration: none;
  color: white;
  padding: 26px 42px 21px 42px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.header__menu--item:hover{
  background-color: #222f3a;
  border: 1px solid #ffffff55;
}

.main-content{
  display: flex;
  align-items: flex-start;
  margin-top: 51px;
  gap: 53px;
}
.main-content__sidebar{
  flex-basis: 30%;
  border: 1px solid black;
}

.main-content__sidebar__item{
  display: block;
  padding: 27px 0 27px 44px;
  text-decoration: none;
  font-size: 26px;
  color: rgb(70, 87, 99);
  transition: all 0.4s ease-out;
}

.main-content__sidebar__item:hover{
  padding-left:69px;
  background-color: rgb(220, 220, 220);
  color: black;
  font-weight: 600;
}
.content{
  flex-basis: 70%;
}
.top-img{
  position: relative;
  height: 529px;
  border: 1px solid black;
}
.ramda-logo{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 0.4s ease-out;
}
.ramda-logo:hover{
  transform: translate(50%, -50%) scale(1.1);
}

.text-content{
  margin: 50px 30px;
}
.text-content__paragraph{
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.3;
  text-align: justify;
}
.text-content__paragraph:last-child{
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  font-size: 22px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.footer__list{
  display: flex;
  font-size: 26px;
  align-items: center;
  padding: 22px 44px;
}
.footer__list__item{
  margin-right: 20px;
  text-decoration:none;
  color: black;
  transition: all 0.4s ease-out;
}
.footer__list__item:hover{
  color:#3181a6;
  text-decoration:underline 1.2px;
  text-underline-offset: 6px;
}
.copyright{
  color: #0c1927;
  text-align: right;
  padding: 22px 44px;
}

@media (max-width: 1000px) {
  .container {
    max-width: 980px;
  }
  .header__title{
    font-size: 60px;
  }
  .header__menu{
    font-size: 18px;
  }

  .main-content {
    gap: 33px;
  }

  .main-content__sidebar__item {
    padding: 14px 0 14px 22px;
    font-size: 20px;
  }

  .main-content__sidebar__item:hover {
    padding-left: 35px;
  }

  .text-content {
    margin-bottom: 30px 15px;
  }

  .text-content__paragraph {
    margin: 15px;
    font-size: 16px;
  }
  .text-content__paragraph:last-child{
    margin-bottom: 0;
  }
  .footer{
    font-size: 16px;
  }
  .footer__list{
    font-size: 20px;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 720px;
  }
  .header__title{
    font-size: 45px;
  }
  .header__menu{
    font-size: 16px;
  }
  .main-content {
    gap: 20px;
  }

  .main-content__sidebar__item {
    padding: 10px 0 10px 16px;
    font-size: 14px;
  }

  .main-content__sidebar__item:hover {
    padding-left: 25px;
  }

  .text-content {
    margin: 20px 5px;
  }

  .text-content__paragraph {
    margin: 12px 0;
    font-size: 14px;
  }
  .footer{
    font-size: 12px;
  }
  .footer__list{
    font-size: 16px;
  }
}
