.container {
  width: 1366px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.852);
  position: relative;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -2;
}
.bubble {
  position: relative;
  display: flex;
  z-index: -1;
}
.bubble span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #f1e3b9;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0 0 0 10px #ff840044, 0 0 50px #ffa500, 0 0 100px #ffa500;
  animation: animate 15s linear infinite;
  animation-duration: calc(350s / var(--i));
}

.bubble span:nth-child(even) {
  background: #d48105;
  box-shadow: 0 0 0 5px #d4810589, 0 0 50px #d48105, 0 0 100px #d48105;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 19px 147px 48px 154px;
}
.heading__name {
  display: inline-flex;
}
.heading__name > a {
  width: 46px;
  height: 44px;
  object-fit: cover;
  margin: 0 15px 0 1px;
}
.heading__title h2 {
  width: 105px;
  height: 22px;
  margin-bottom: 9px;
  font-size: 26px;
  color: white;
  font-family: verdana;
  font-weight: bold;
}

.heading__title h3 {
  width: 105px;
  height: 13px;
  font-size: 16px;
  color: white;
  font-family: verdana;
  font-weight: bold;
}
.contact {
  text-align: right;
  color: white;
  font-family: Verdana;
  margin-top: 12px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 147px 0 154px;
  justify-content: space-between;
}
.item {
  width: 311px;
  height: 204px;
  background: linear-gradient(to bottom, white, black);
  margin-bottom: 97px;
}
.item img {
  width: 307px;
  height: 200px;
  margin: 2px;
  object-fit: cover;
  transition: all 0.5s ease-out;
}

.item img:hover {
  transform: scale(1.05);
}
a {
  text-decoration: none;
}
.item p {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  font-family: Verdana;
  text-align: center;
  text-decoration-line: none;
  transition: all 0.5s ease-out;
}
.item p:hover {
  transform: scale(1.05);
}
.footer {
  text-align: center;
  color: white;
  margin-top: 6px;
  padding-bottom: 20px;
  font-size: 12px;
}
