.container {
  width: 1366px;
  background-image: url('../img/backgroundImage.png');
  padding-top: 49px;
  margin: auto;
}

.heading-container {
  width: 1065px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  margin: auto;
}
.logo {
  display: inline-flex;
  width: 165px;
  gap: 7px;
  color: white;
}
.milan-holidays {
  width: 54px;
  height: 49px;
  object-fit: cover;
  background: url("../img/logoImg.png") 0 0;
}

.logo:hover .milan-holidays{
  background: url("../img/logoImg.png") -56px 0;
}

.logo:hover .logo__header{
  width: 54px;
  color: #ff6600;
}
.logo__text {
  margin-bottom: 7px;
  font-size: 26px;
  font-family: verdana;
  font-weight: bold;
  transition: all 0.4s ease-out;
}

.logo__caption {
  font-size: 16px;
  font-family: verdana;
  font-weight: bold;
  transition: all 0.4s ease-out;
}
.heading__name {
  display: inline-flex;
}

.contact {
  text-align: right;
  color: white;
  font-family: Verdana;
  margin-top: 12px;
}
.main-content {
  width: 1065px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.item {
  position: relative;
  width: 310px;
  height: 204px;
  margin-bottom: 102px;
  transition: all 0.5s ease-out;
}
.item img {
  width: 307px;
  height: 200px;
  margin: 2px;
  object-fit: cover;
  transition: all 0.5s ease-out;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white, black) 1;
}
.item-hover-effect{
  display: none;
}
.item:hover .item-hover-effect{
  position: absolute;
  display: flex;
  width: 307px;
  height: 60px;
  background: #ff6600af;
  bottom: 0;
  left: 4px;
}
.item:hover .item-title{
  color: #ff6600;
}
.item:hover .font-small{
  font-size: 11px;
}
.item-hover-price{
  padding-left: 30px;
}
.view-details{
  padding-top: 20px;
  padding-left: 80px;
}

a {
  text-decoration: none;
}
.item p {
  margin-top: 12px;
  font-size: 18px;
  color: white;
  font-family: Verdana;
  text-align: center;
  text-decoration-line: none;
  transition: all 0.5s ease-out;
}
.footer {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-size: 12px;
  font-family: Verdana;
}
