body{
  font-family: verdana;
  background: url('../img/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 100%;
  width: 1065px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
.header__milan-holidays {
  display: inline-flex;
  gap: 7px;
  color: white;
  text-decoration: none;
}
.header__logo {
  width: 54px;
  height: 49px;
  background: url("../img/logoImg.png") 0 0 no-repeat;
}
.header__milan-holidays:hover .header__logo{
  background: url("../img/logoImg.png") -56px 0 no-repeat;
}
.header__milan-holidays:hover .header__title{
  width: 54px;
  color: #ff6600;
}
.header__title{
  font-weight: 800;
}
.header__title__text {
  margin-bottom: 7px;
  font-size: 26px;
}
.header__title__caption {
  font-size: 16px;
}
.header__contact {
  text-align: right;
  color: white;
  margin-top: 12px;
}


.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  position: relative;
  margin-bottom: 55px;
}
.item img {
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white, black) 1;
}
.item__hover{
  display: none;
}
.item:hover .item__hover{
  position: absolute;
  display: flex;
  background: #ff6600af;
  padding-bottom: 10px;
  padding-right: 33px;
  bottom: 35px;
  left: 3px;
}
.item:hover .item__title{
  color: #ff6600;
}
.item:hover .item__hover__font-small{
  font-size: 11px;
}
.item__hover__effect{
  padding-left: 30px;
}
.item__hover__view-details{
  padding-top: 20px;
  padding-left: 80px;
}

a {
  text-decoration: none;
}
.item__title, .item__hover__view-details, .item__hover__font-small, .item__hover__price {
  margin-top: 12px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.copyright {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-size: 12px;
}
